@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  opacity: 2;
}




.truncated-text {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Set the number of lines to display */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
